@model List<Wedding>
<!-- Insert Model Here -->
<nav class="navbar navbar-expand-lg navbar-dark bg-info rounded">
    <h6 class="navbar-brand">Wedding Planner</h6>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            @if(ViewBag.LoggedIn == null)
            {
                <a class="nav-item nav-link active" asp-controller="Users" asp-action="Index">Login</a>
                <a class="nav-item nav-link active" asp-controller="Users" asp-action="New">Register</a>
            }
            else
            {
                <a class="nav-item nav-link active" asp-controller="Weddings" asp-action="Index">Dashboard</a>
                <a class="nav-item nav-link active" asp-controller="Users" asp-action="Logout">Log Out</a>
            }
        </div>
    </div>
</nav>
<div class="row justify-content-center">
    <div class="col-lg-10 rounded justify-content-center m-4 bg-white">
        <div class="row justify-content-center m-3">
            <h1>Welcome to Wedding Planner</h1>
        </div>
        <div class="row justify-content-center m-3">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Wedding</th>
                        <th scope="col">Date</th>
                        <th scope="col">Guests</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var wedding in Model)
                    {
                        <tr>
                            <td><a asp-action="show" asp-route-weddingId="@wedding.WeddingId"asp-controller="Weddings">@wedding.Wedder1 and @wedding.Wedder2</a></td>
                            <td>@wedding.Date.ToString("MMM d, yyyy")</td>
                            <td>@wedding.Attendees.Count()</td>
                            @if(wedding.UserId == ViewBag.UserId)
                            {
                                <form asp-action="Destroy" asp-controller="Weddings" asp-route-weddingId="@wedding.WeddingId" method="POST">
                                    <td><button type="submit" class="btn btn-danger mt-2">DELETE</button></td>
                                </form>
                            }
                            else if(wedding.Attendees.Any(a => a.UserId == ViewBag.UserId))
                            {
                                <form asp-action="Destroy" asp-controller="Attendees" asp-route-weddingId="@wedding.WeddingId" method="POST">
                                    <td><button type="submit" class="btn btn-danger">Un-RSVP</button></td>
                                </form>
                            }
                            else
                            {
                                <form asp-action="Create" asp-controller="Attendees" asp-route-weddingId="@wedding.WeddingId" method="POST">
                                    <td><button type="submit" class="btn btn-success">RSVP</button></td>
                                </form>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row justify-content-center m-3">
            <a asp-action="New" asp-controller="Weddings" class="btn btn-primary my-2 mr-3">New Wedding</a>
        </div>
    </div>
</div>